.form {
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: white;
  background-color: #1a1a1a;
  gap: 20px;
  i {
    height: 18px;
  }
  h2 {
    font-size: 24px;

  }
  label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    input {
      border-radius: 2px;
      font-size: 14px;
      padding: 5px 10px;
      color: #090909;
    }
  }

  button {
    padding: 10px 15px;
    background-color: #001b8d;
    border-radius: 2px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}